* {
    box-sizing: 0;
    margin: o;
}



.main-card {
    flex-grow: 1;
    
}
footer {
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

.outline {
    border: 2px solid rgb(119, 117, 117);
}

/* .card-1 {
    display: flex;
     border: 2px solid rgb(119, 117, 117);

} */

.card {
    display: flex;
    
    margin:10px;
    border-radius: 7px;
    box-shadow:  3px 3px 7px 2px #808080;

    padding: 40px;
}

header {
    
    display: flex;
    background-color: chartreuse;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 7px 3px
    

}
body {
    font-family: helvetica;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}