* {
    width: 0 auto; 
    margin: 0 auto;
    
}

.title {
    padding: 10px;
}
.rickMortyPic {
    padding-top: 10px;
}

.main-card {
    flex-grow: 1;
    
}

    
.head {
    justify-content: space-around;
    border-radius: 7px;  
    
}

.imageOne {
    display: flex;
    
    justify-content: center;
    align-items: center;
    justify-content: space-around;  
}

.imageTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;  
}
.imageThree {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;  
}

footer {
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

img {
    width: 150px;
}

button {
    background-color:rgb(212, 82, 82);
   border-radius: 5px;
   
  /* padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; */
}



#imageOne, .stats {
    display:inline;
}

.outline {
    border: 2px solid rgb(139, 139, 139);
}


.card {
    /* display: flex; */
    background-color: rgb(173, 173, 173);
    margin:10px;
    border-radius: 9px;
    box-shadow:  3px 3px 7px 2px #808080;
    padding: 60px;
}

/* .outline {
    display: flex;
    justify-content: center; */
/* } */

img {
    border-radius: 7px;
    border:rgb(2, 2, 2);
    border: 5px;
    
}


.box {
    
    display: flex;
    justify-content: center;
    align-items: center;

}

header {
    font-family: "nosifer";
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    display: flex;
    background-color: chartreuse;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 7px 3px
    
    

}
body {
   
    background-color: rgb(88, 107, 117);
    padding: 40px 40px 40px 40px;
    font-family: helvetica;
    min-height: 100vh;
    /* display: flex; */
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    header {
        font-size: 10px;
    }
     
    .imageOne img{
        display: block;
        margin-right: 10px;
    }

    .imageTwo img{
        display: block;
        margin-right: 10px;
    }

    .imageThree img{
        display: block;
        margin-right: 10px;
    }
    .rickMortyPic img{
        width: 100px;

    }
    }
  
    /* @media screen and (max-width: 300px) {
        header {
            font-size: 4px;
        } */
             
        /* .imageOne img{
            display: block;
            margin-right: 10px; */
        /* }
        } */